@model PokeOneWeb.ViewModels.Locations.LocationDetailViewModel
@{
    ViewData["Title"] = Model.LocationGroupName;
}
<div class="text-container">
    <p class="content-text">
        @Model.LocationGroupName
    </p>
</div>