@model PokeOneWeb.ViewModels.Locations.NewLocationViewModel

<form method="post" enctype="multipart/form-data">
    <input type="text" asp-for="LocationGroupDisplayName" placeholder="Display name" />
    <input type="text" asp-for="LocationGroupName" placeholder="Unique technical name" />
    <input type="file" asp-for="LocationMap" accept="image/png" />
    <input id="btn_restaurant" type="submit" value="Save" />
</form>
