body {
    background-image: url('../images/tileable-dark-brown-wood-background.jpg');
    background-repeat: repeat;
}

#logo {
    width: 100%;
}

.logo {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-container-buffer {
    background: #707070;
    height: 120px;
    width: 100%;
}

.header-container-center {
    background: #707070;
    height: 290px;
    width: 980px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.header-text-logo {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 5px;
}

.nav-container {
    width: 100%;
    margin-top: 150px;
    display: flex;
    padding: 10px;
}

.nav-item {
    height: 100px;
    width: 100px;
    background: #434343;
    border: 1px solid black;
    margin: 10px;
}

.nav-item-text {
    text-align: center;
}